body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(31, 29, 29);
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

/* background section */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/pic1.png');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top-left;
    opacity: 1;
    filter: brightness(0.2);
    z-index: -1;
}


/*logo section*/
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.logo-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo-name {
    padding-top: 20px;
    font-family: 'Leckerli One', cursive;
     letter-spacing: 7px;
    color: #34FF9C;
}

/*sign in section */
.form-signin {
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    font-size: .8rem;
    margin-right: 5px;
}

.user-input input {
    display: flex;
    margin-bottom: 10%;
}

.user-input {
    color: white;
}

.create-account {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: .8rem;
}

.create-account .link {
    color: #34FF9C;
    text-decoration: none;
}


/*footer section*/
.footer-content {
    display: flex;
    flex-direction: column-reverse;
    color: white;
    margin-right: 50%;
    margin-top: auto;
}
.footer-content span{
    font-family: 'Inter', sans-serif;
    letter-spacing: 5px;
    font-size: small;
    color: #34FF9C;
}

/* account creation */
.modal-header {
    border-bottom: none;
}
.modal-body .create{
    font-size: 15px;
}
.create input {
    display: flex;
    margin-bottom: 7%;
}
