body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(31, 29, 29);
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
}

.background {
    position: fixed;
    /* stay behind content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(52, 255, 157);
    /* adjust color & opacity */
    filter: brightness(20%);
    /* adjust brightness */
    z-index: 0;
    /* behind content */
}

.content {
    position: relative;
    z-index: 1;
}

.custom-navbar .nav-link {
    color: white !important;
    /* !important overrides Bootstrap default */
}

.custom-navbar {
    background-color: rgb(36, 35, 35);
}

.navbar {
    font-family: 'Karla', sans-serif;
}

.navbar-brand {
    font-style: italic;
    font-size: 25px;
    font-family: 'Leckerli One', cursive;
    color: #34FF9C;
    letter-spacing: 5px;
}

.navbar-brand:hover {
    color: #34FF9C;
    /* prevents color change on hover */
    text-decoration: none;
    /* ensures no underline on hover */
}
.profile-color {
  color: #34FF9C;  /* set your desired color */
}

.profile_icon {
    border: solid #34FF9C;
    border-radius: 50%;
    border-width: 2px;
}

.quote-container {
    height: 30px; /* adjust height as needed */
    display: flex;
    background-color: rgb(47, 49, 49);
    height: 30px;
    font-size: small;
     justify-content: center; 
    align-items: center;
    text-align: center;
}

.quote {
    color: white;
}

.device {
    background-color: #34ff9dda;
    width: 97%;
    height: 30vh;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    /* enables flex layout */
    align-items: center;
    /* vertical center */
    justify-content: flex-start;
    /* align to left */
    padding-left: 20px;
}

.circle-wrap {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(#0fc067bd 90deg, #e6e6e6 90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* google map section */

.google-map {
    margin: 20px;
    margin-top: 30px;
}

.map-frame {
    border-radius: 20px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.671);
}