body {
    margin: 0;
    padding: 0%;
   
}

.container {
    
}
.logo-content{
    padding-top: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
}