body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(31, 29, 29);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/pic1.png');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: top-left;
    opacity: 1;
    filter: brightness(0.2);
    z-index: -1;
}


/*logo section*/
.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.logo-content {
    margin-top: 9%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-signin{
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    font-size: .8rem;
    margin-right: 5px;
   
}

form input{
    display: flex;
    margin-bottom: 10%;
    margin-right: 2%;
}

.logo {
    width: 100px;
    height: 100px;

}

h1 {
    color: #34FF9C;
}

form {
    color: white;
}
.account {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: .8rem;
}

.account .link {
    color: #34FF9C;
    text-decoration: none;
}
/*footer section*/
.footer-content {
    display: flex;
    flex-direction: column-reverse;
    color: white;
    margin-left: 50%;
}