body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(31, 29, 29);
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/pic1.png');
    background-size: auto;
    object-fit: none;
     background-repeat: no-repeat;
    background-position: top-left;
    opacity: 1;
    filter: brightness(0.2);
    z-index: -1;
}

.container {
   position: relative;
    z-index: 1;
    
}
.header-content{
    position: relative;
    text-align: end;
}
.exit{
    width: 30px;
    height: 30px;
    background-color: bisque;
}

/*logo section*/
.logo-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
}
.logo-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  
}

.logo {
    width: 100px;
    height: 100px;
    
}

h1{
    color: #34FF9C;
}